<header>
    <h1>Todo List</h1>
</header>

<ul>
    <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked':task.checked}">
        <button class="delete" ng-click="TodoListCtrl.removeTask(task)">&times;</button>
        <input type="checkbox" ng-checked="task.checked" ng-click="TodoListCtrl.setChecked(task)"
               class="toggle-checked">
        <label class="text">
            {{task.text}}
        </label>
    </li>
</ul>

<form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="new task"/>
</form>
