<header>
    <h1>Todo List {{$ctrl.incompleteCount}}</h1>
</header>
<label class="hide-completed">
    <input type="checkbox" ng-model="$ctrl.hideCompleted"/>
    Hide Completed tasks
</label>
<form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)">
    <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="new task"/>
</form>
<ul>
    <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked':task.checked}">
        <button class="delete" ng-click="TodoListCtrl.removeTask(task)">&times;</button>
        <input type="checkbox" ng-checked="task.checked" ng-click="TodoListCtrl.setChecked(task)"
               class="toggle-checked">
        <label class="text">
            {{task.text}}
        </label>
    </li>
</ul>

